.info-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px;
}

.page_consultation a {
    text-decoration: none;
    color: #4CAF50;
}

h3 {
    color: #4CAF50;
}

.products {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(12rem, 1fr));
    place-items: center;
    gap: 2rem;
}

.product {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    width: 65%;
    height: 30rem;
}

.product img {
    width: 150px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.nom_produit {
    color: #4CAF50;
}

.description_produit,
.prix_produit {
    margin: 10px 0;
}

.prix_produit {
    font-weight: bold;
}

.green_button {
    background-color: #4CAF50;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}

.green_button:hover {
    background-color: #388e3c;
}

.green_button a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .products {
        grid-template-columns: repeat(1, minmax(12rem, 1fr));
    }

    .product {
        width: 80%;
    }
}
